---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.containerinfra.nl
  resources:
  - deploymentcoordinations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps.containerinfra.nl
  resources:
  - deploymentcoordinations/finalizers
  verbs:
  - update
- apiGroups:
  - apps.containerinfra.nl
  resources:
  - deploymentcoordinations/status
  verbs:
  - get
  - patch
  - update
